.parcours {
  height: 450px;
  width: 85%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.line {
  width: 4px;
  height: 400px;
  background-color:#65a7a0;
  margin-top: 40px;
  border-radius: 10px;
  position: absolute;
}

.step {
  display: none;
  position: relative;
  left: -10px;
  font-size: 25px;
  color:#65a7a0;
}

.arrow {
  display: none;
  position: relative;
  top: -10px;
  left: -12px;
  font-size: 28px;
  color:#65a7a0;
}


.bootcamp {
  position: relative;
  top: 15%;
  left: -100px;
  width: 30%;
  align-items: center;
  text-align: right;
  margin-left:20%;
}

.bootcamp-title {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: right;

}

.wagon {
  width: 80px;
  border-radius: 50%;
  margin-right: 25px;
}

.wagon-text {
  display: flex;
  text-align: left;
  justify-content: right;
  font-size: 18px;
  color: rgba(79, 69, 69, 0.975);

}

.wagon-projects {
  height: 30px;
  margin:0;
  margin-left: 20px;
}

.projects {
  position: relative;
  top: 20%;
  right: -100px;
  justify-content: left;
  width : 50%;
}


.project-cards {
  display: flex;
  font-style: italic;
}

.project {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin:20px;
  padding: 20px;
  padding-bottom: 25px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.232);
  box-shadow: 2px 2px rgba(197, 191, 191, 0.422);
  background-color: white;
}

.project-image {
  width: 140px;
  height: 140px;
}
#mouse {
  border-radius: 50%;
}

.project-title {
  border: 1px solid rgba(128, 128, 128, 0.273);
  margin:0;
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.074);
  background-color: rgba(218, 194, 174, 0.522);
}


@media screen and (max-width: 1300px) {
  .project-title {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .project {
    height: 220px;
  }

  .bootcamp-title {
    display: block;
  }

  .wagon-text {
    display: flex;
    text-align: right;

  }

  .line {
    height: 450px;
  }
}

@media screen and (max-width: 1100px){
  .bootcamp {
    display: block;
    top:15%;
  }

  .projects {
    top: 15%;
  }

  .project-cards{
    display: block;;
  }

  .line {
    height: 700px;
  }

  .parcours {
    height: 750px;
  }
}


@media screen and (max-width: 900px){
  .parcours {
    display: block;
    justify-content: left;
    margin-left: 50px;
    height: 900px;
  }

  .bootcamp {
    width: 500px;
    margin-left:180px;
    top:10%;
  }

  .bootcamp-title {
    text-align: left;
    justify-content: left;
  }

  .wagon-text {
    text-align: left;
  }

  .projects {
    left: 80px;
    top:10%;
  }
  .project {
    margin-inline:0;
  }

  .wagon-projects {
    margin:0;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 22px;
  }

  .project-cards{
    display: flex;
   }

  .project {
    margin-right: 20px;
  }

  .line {
    height: 800px;
  }
}


@media screen and (max-width: 780px){
 .wagon-projects {
  height: auto;
  width: 220px;
 }
}

@media screen and (max-width: 660px){
  .parcours {
    height: 1200px;
    margin-left: 30px;
  }
  .wagon-text {
    width: 90%;
  }

  .bootcamp {
    width: 80%;
    margin-left:150px;
  }

  .projects {
    left: 50px;
  }

  .project-cards {
    display: block;
  }

  .project {
   width: auto;
   height: auto;
   margin-right: 0;
   padding-bottom: 10px;
   box-shadow: 1px 1px rgba(197, 191, 191, 0.227);
  }

  .wagon-projects {
    margin-bottom: 0;
  }

  .line {
    height: 1130px;
  }
 }

 @media screen and (max-width: 450px){
  .parcours {
    width: auto;
    height: 1050px;
  }

  .line {
    height: 1000px;
  }

  .bootcamp {
    top:8%;
  }

  .projects {
    top:8%;
  }

  .project-image {
    width: 100px;
    height: 100px;
  }
 }

 @media screen and (max-width: 400px){
  .parcours {
    height: 1060px;
  }
  .project-image {
    width: 100px;
    height: 100px;
  }

  .bootcamp {
    width: 70%;
  }

  .line {
    height: 1040px;
  }
 }

 @media screen and (max-width: 360px){
  .parcours {
    height: 1110px;
  }

  .line {
    height: 1100px;
  }
 }
